/* Initial reset styling */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  background: #f6f6f6;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100vh;
}

/* Nav styling */

nav.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12.5vh;
  padding: 0 18.5rem;
}

.nav-list ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  font-size: 1.4rem;
}

/* Hero styling */

.hero {
  display: flex;
  padding-left: 18.5rem;
}

.title {
  font-size: 6rem;
  line-height: 7.8rem;
  font-weight: 900;
  color: #3f3d55;
  margin-bottom: 2rem;
  margin-top: 22.5vh;
}

.hero p {
  font-size: 1.7rem;
  line-height: 3.2rem;
  margin-bottom: 7rem;
  color: #3f3d55;
}

.hero button {
  padding: 1.5rem;
  width: 20rem;
  border: none;
  border-radius: 2.5rem;
  background-color: #5650ac;
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 17.4rem;
  padding-bottom: 5rem;
}

.footer ul {
  display: inline-block;
  align-self: flex-end;
}
